@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Noto+Sans:ital,wght@0,100;0,300;0,600;1,100;1,300;1,600&display=swap");
* {
  margin: 0;
  padding: 0%; }

body {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto; }

.logo {
  width: 50px;
  top: 5px;
  left: 10px; }

/* MAIN  */
main {
  display: grid;
  /* padding-top: 60px; */
  background-image: url("../assets/img/empty background2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 30px; }
  main h1, main h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 3rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    color: #c7f416;
    text-align: center; }
  main h3 {
    font-size: 2rem;
    font-weight: 300; }
  main img {
    display: block;
    margin: auto;
    width: 25rem;
    border-color: #c7f416; }
  main p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    color: aliceblue;
    text-align: center; }
  main a {
    text-decoration: none;
    color: #c7f416; }
  main__content {
    /* padding-top: 10vh; */
    padding-left: 15vh;
    padding-right: 15vh; }

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end; }

.imgBackground {
  width: 100%; }

.imgContainer h2 {
  position: absolute;
  color: white;
  text-transform: uppercase; }

@media screen and (max-width: 480px) {
  main img {
    display: block;
    margin: auto;
    width: 15rem;
    border-color: #c7f416; }
  .main__content {
    padding-left: 2vh;
    padding-right: 2vh; } }

.header ul {
  list-style: none;
  display: flex;
  text-align: end;
  margin-right: 1rem; }

/* NAVBAR CUSTOMIZATION /*/
.navbar__custom {
  background: linear-gradient(to bottom right, #323746, #02030c); }

.navbar__custom ul {
  font-family: 'Bungee', cursive;
  color: #c7f416; }

.navbar__custom li {
  transition: trasnform 3s; }

.navbar__custom li:hover {
  transform: scale(1.2); }

.navbar__custom .header__burguer-menu {
  display: none; }

.navbar__custom .header__bar__btn {
  display: none; }

.contactForm {
  text-align: center;
  padding-left: 15vw;
  padding-right: 15vw; }

fieldset {
  padding: 10px;
  justify-content: center;
  margin: auto;
  border-radius: 5px;
  font-family: 'Bungee', cursive;
  color: aliceblue; }
  fieldset fieldset {
    border-radius: 5px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600; }
  fieldset .form__button {
    padding: 5px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-family: 'Bungee', cursive; }

/* MEDIA FORM */
@media screen and (max-width: 480px) {
  .contactForm {
    text-align: left;
    padding-left: 5vh;
    padding-right: 5vh; }
    .contactForm fieldset {
      padding: 0px;
      padding-top: 30px;
      border: none; }
      .contactForm fieldset legend {
        padding-top: 15px;
        text-align: center; }
      .contactForm fieldset fieldset legend {
        text-align: left; } }

/* FOOTER */
.footer, .footerNav {
  background: linear-gradient(to bottom right, #323746, #02030c);
  margin-bottom: 0%; }
  .footer ul, .footerNav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Bungee', cursive;
    color: #c7f416;
    padding-left: 0; }
    .footer ul li, .footerNav ul li {
      margin-left: 1rem; }
      .footer ul li a, .footerNav ul li a {
        text-decoration: none; }
  .footer li, .footerNav li {
    transition: trasnform 3s; }
  .footer li:hover, .footerNav li:hover {
    transform: scale(1.2); }

.footerNav {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%; }

/* CONTENEDOR */
.contenedor__blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 50px 25px;
  column-gap: 1rem; }

.blog {
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px; }

/* MEDIA BLOG */
@media screen and (max-width: 720px) {
  .contenedor__blogs {
    grid-template-columns: 1fr; } }

@media screen and (max-width: 480px) {
  .contenedor__blogs {
    grid-template-columns: 1fr; } }

/* Application */
.app_view {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  color: aliceblue;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  align-items: center; }
  .app_view .img-bx {
    padding: 30px;
    overflow: hidden; }

.bckg-dark {
  background-color: #323746; }

.waves {
  margin-bottom: -4px; }

/* MEDIA APP */
@media screen and (max-width: 940px) {
  .app_view {
    flex-direction: column-reverse; }
  .bg-dark {
    flex-direction: column-reverse; } }

@media screen and (max-width: 720px) {
  .app_view {
    flex-direction: column-reverse; }
  .bg-dark {
    flex-direction: column-reverse; } }

@media screen and (max-width: 480px) {
  .app_view {
    flex-direction: column; }
  .bckg-dark {
    flex-direction: column-reverse; } }

/* WORKSHOPS */
.workshops__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 50px 25px;
  column-gap: 1rem;
  justify-items: center; }

.workshop {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
  padding: 30px;
  width: 35vw; }
  .workshop a {
    display: block;
    height: 1rem;
    text-align: center;
    font-family: 'Bungee', cursive;
    background: linear-gradient(to bottom right, #323746, #02030c);
    color: #c7f416;
    border-radius: 5px; }

/* MEDIA WORKSHOP */
@media screen and (max-width: 720px) {
  .workshops__list {
    grid-template-columns: 1fr; }
  .workshop {
    width: 100vw; } }

@media screen and (max-width: 480px) {
  .workshops__list {
    /* grid-template-columns: 1fr; */
    justify-content: normal;
    padding: 0%; }
  .workshop {
    width: 100vw; } }
